h1 a    {
    color: #ffffff;
}

h2 a    {
    color: #000000;
}

body    {
    font-family: "Edu NSW ACT Hand Pre", cursive;
}

.page-head  {
    padding: 50px 50px 50px 50px;
    background-color: #07b2ff;
}

.content-container  {
    padding: 0px 50px 50px 50px;
}